## Introduction to Python dataframes

The Python library for dataframes is called Pandas and is usually shortened to pd.

In [ ]:
import pandas as pd
import numpy as np

Now we can create our first dataframe. First we create a dictionary with raw data.

In [ ]:
data = {'Company':['a', 'b', 'c', 'd', 'e', 'f'], 'Total assets': [51500,10400,96000,1200,65700,62000], 'Employees': [10,12,22,1,16,12]}

In [ ]:
df = pd.DataFrame(data)
print(df)

  Company  Total assets  Employees
0       a         51500         10
1       b         10400         12
2       c         96000         22
3       d          1200          1
4       e         65700         16
5       f         62000         12

## Indexing

In [ ]:
df.loc[1, 'Employees']

12

In [ ]:
df.loc[1]

Company             b
Total assets    10400
Employees          12
Name: 1, dtype: object

In [ ]:
df['Company']

0    a
1    b
2    c
3    d
4    e
5    f
Name: Company, dtype: object

In [ ]:
df.iloc[1,0]

'b'

In [ ]:
df.iloc[:3]

  Company  Total assets  Employees
0       a         51500         10
1       b         10400         12
2       c         96000         22

In [ ]:
new_df = df.set_index('Company')
new_df

         Total assets  Employees
Company
a               51500         10
b               10400         12
c               96000         22
d                1200          1
e               65700         16
f               62000         12

In [ ]:
new_df.loc['b']

Total assets    10400
Employees          12
Name: b, dtype: int64

## Calculations and Analysis

In [ ]:
df['Assets per employee'] = df['Total assets']/df['Employees']
df

  Company  Total assets  Employees  Assets per employee
0       a         51500         10          5150.000000
1       b         10400         12           866.666667
2       c         96000         22          4363.636364
3       d          1200          1          1200.000000
4       e         65700         16          4106.250000
5       f         62000         12          5166.666667

In [ ]:
df.style.format('{:.2f}', subset='Assets per employee')

In [ ]:
df.max()

Company                          f
Total assets                 96000
Employees                       22
Assets per employee    5166.666667
dtype: object

In [ ]:
df.min()

Company                         a
Total assets                 1200
Employees                       1
Assets per employee    866.666667
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              6 non-null      object
 1   Total assets         6 non-null      int64
 2   Employees            6 non-null      int64
 3   Assets per employee  6 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 320.0+ bytes

In [ ]:
df.describe()

       Total assets  Employees  Assets per employee
count      6.000000   6.000000             6.000000
mean   47800.000000  12.166667          3475.536616
std    35858.890111   6.940221          1940.852303
min     1200.000000   1.000000           866.666667
25%    20675.000000  10.500000          1926.562500
50%    56750.000000  12.000000          4234.943182
75%    64775.000000  15.000000          4953.409091
max    96000.000000  22.000000          5166.666667

## Deleting duplicates and missing values

In [ ]:
data = {'Company':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'a'], 'Total assets': [51500,10400,96000,1200,65700,62000,100800,51500], 'Employees': [10,12,22,1,16,12,np.nan,10]}

In [ ]:
df = pd.DataFrame(data)
print(df)

  Company  Total assets  Employees
0       a         51500       10.0
1       b         10400       12.0
2       c         96000       22.0
3       d          1200        1.0
4       e         65700       16.0
5       f         62000       12.0
6       g        100800        NaN
7       a         51500       10.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       8 non-null      object
 1   Total assets  8 non-null      int64
 2   Employees     7 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 320.0+ bytes

In [ ]:
df.dropna(inplace=True)
print(df)

  Company  Total assets  Employees
0       a         51500       10.0
1       b         10400       12.0
2       c         96000       22.0
3       d          1200        1.0
4       e         65700       16.0
5       f         62000       12.0
7       a         51500       10.0

In [ ]:
df.drop_duplicates(inplace=True)
print(df)

  Company  Total assets  Employees
0       a         51500       10.0
1       b         10400       12.0
2       c         96000       22.0
3       d          1200        1.0
4       e         65700       16.0
5       f         62000       12.0

## Take a short quiz to test your knowledge

![qr.png]()